<!DOCTYPE html>
<html>
  <head>
    <title>Creditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Pagina Creada Por:</h2>
    <h1>Juan Luis Alcántara Alcaide</h1>
  </body>
</html>
